<form>
    <div>
    ID: <input #id type="number" [(ngModel)]="newGame.id" name="id">
</div>
<div>
    Title: <input #title [(ngModel)]="newGame.title"name="title">
</div>
<div>
    Description: <input #description [(ngModel)]="newGame.description" name="description">
</div>
<div>
    Creator: <input #creator [(ngModel)]="newGame.creator" name="creator">
</div>
<div>
    Image URL: <input #imageUrl>
</div>
<div>
    Tags: <input #tags>
</div>
<div>
    <button type="submit" (click)="addVideoGame(id.value, title.value, description.value, creator.value, imageUrl.value, tags.value)">Add Game</button>
</div>
</form>