<form #form>
    <div>
    ID: <input type="number"  #id>
</div>
<div>
    Title: <input type="text" #title>
</div>
<div>
    Description: <input type="text" #description>
</div>
<div>
    Creator: <input type="text" #creator>
</div>
<div>
    Image URL: <input type="text" #imageUrl>
</div>
<div>
    Type: <input type="text" #type>
</div>
<div>
    Tags: <input type="text" #tags>
</div>
<div>
    <button type="submit" (click)="addVideoGame(id.value, title.value, description.value, creator.value, imageUrl.value, type.value, tags.value); form.reset()">Add Game</button>
</div>
<p *ngIf="failMessage" class="errorMsg">{{ failMessage }} </p>
</form>