.simGameList{
    background-color: cadetblue;
}
.adventureGameList{
    background-color: darksalmon;
}
.sandboxGameList{
    background-color:burlywood;
}
.openGameList{
    background-color:lavender;
}
.strategyGameList{
    background-color: rosybrown;
}
.isFound {
    color: green;
}
.isNotFound {
    color:red;
}
.selectedGame{
    border-width: 5px;
    border: solid green;
}
.searchBar > div {
    margin: 2%;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
}